body{
    font-family: Oswald, sans-serif;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*HEADER */
#navbar {
    margin: auto;
    background: #303030;
}

.header {
    margin-top: 0;
    margin-bottom: 8px;
}

.logo_area {
    font-family: "Leckerli One", cursive;
    cursor: pointer;
    text-align: center;
    display: flex;
}

.logo_area a {
    color: #d0d0d0;
    font-size: 45px;
    align-self: flex-end;
}

.logo_area a:hover {
    color: white;
    text-decoration: none;
}

.navbar_button {
    display: inline;
    margin-right: 20px;
    font-weight: 100;
    font-size: 15px;
}

.navbar_button a {
    color: #d0d0d0;
}

.navbar_button a:hover {
    text-decoration: none;
}

.search_box {
    margin-top: 4px;
}

.box {
    position:relative;
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    -webkit-transition:0.5s;
}

.box:hover {
    color: #FFF;
    text-decoration: none;
}

.box:hover > a {
    color: #FFF;
}

.box::before, .box::after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
    text-decoration: none;
}

.curmudgeon::before {
    border-bottom: 3px solid #FFF;
    border-left: 0;
    -webkit-transform-origin: 0% 100%;
    text-decoration: none;
}

.curmudgeon::after {
    border-top: 0;
    border-right: 0;
    -webkit-transform-origin: 50% 50%;
    text-decoration: none;
}

.box:hover::after, .box:hover::before {
    -webkit-transform: scale(1);
    text-decoration: none;
}

.user_area {
    display: flex;
}

.user_area > div {
    align-self: flex-end;
}

.user_name {
    display: inline-block;
}

.user_name div {
    display: inline-block;
    margin-left: 10px;
}

.user_settings {
    display: inline-block;
}

.user_notification {
    display: inline-block;
}

#sort_filter_button, .dropdown-menu, #search_panel, #search_button{
    background: #303030;
    color: #d0d0d0;
    border: 1px solid #d0d0d0;
}

#sort_filter_button:hover, #search_button:hover {
    color: white;
}

.dropdown-menu > li > a {
    color: #d0d0d0;
}

.dropdown-menu > li > a:hover {
    background: #1a1a1a;
    color: white;
}

.user_settings > .dropdown-toggle {
    background: #303030;
    color: #d0d0d0;
}

.user_settings > .dropdown-toggle:hover {
    color: white;
}

.user_notification > .dropdown > .dropdown-toggle {
    background: #303030;
    color: #d0d0d0;
}

.user_notification > .dropdown > .dropdown-toggle:hover {
    color: white;
}
/*HEADER end*/


/*MAIN CONTAINER*/
#main-container {
    margin-top: 105px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    height: 300px;
}
.arrow {
    padding: 100px 0 100px 0;
    width: 50px;
    font-size: 30px;
}
.arrow:hover {
    background: #d3d3d3;
}
.sub_container {
    margin-bottom: 10px;
}

.sub_container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.image {
    width: 100%;
}
.name {
    margin: 3px 10px 3px 10px;
    line-height: 1em;
    height: 2em;
    font-size: 13px;
}
.price {
    margin: 3px 10px 3px 10px;
    color: red;
    font-weight: bold;
    font-size: 15px;
}
/*MAIN CONTAINER end*/



